<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>战役log</title>
</head>
<body>
    <h1>{{ adventure.name }}</h1> 

    <Form action="/api/log/{{adventure.id}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="logs" multiple />
        <input type="submit" value="提交">
    </Form>

    <div>
        {{#each adventure.logs}}
            <p>
                <a href="/log/{{this.id}}">{{this.name}}</a>
                <button onclick="deleteLog({{this.id}})">remove</button></p>
        {{/each}}
    </div>
    <script src="/static/js/request.js"></script>
    <script>
        function deleteLog(id) {
            remove('/api/log/' + id).then(function() {
                location.reload();
            });
        }
    </script>
</body>
</html>