<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>战役管理</title>
</head>
<body>
    <Form action="javascript:void(0)">
        <label for="name">战役名称</label><input name="name" id="name" />
        <input onclick="createAdventure()" type="submit" value="提交" />
    </Form>

    <ul>
        {{#each adventure}}
        <p>
            <a href="{{baseurl}}/adventure/{{this.id}}/manage">{{this.name}}</a>
            <button onClick="removeAdventure({{this.id}})">remove</button>
        </p>
        {{/each}}
    </ul>
</body>
{{> script}}
<script>
    function createAdventure() {
        const input = document.querySelector('#name');
        
        post('{{baseurl}}/api/adventure', {name: input.value}).then(function(res) {
            location.reload();
        })
    }

    function removeAdventure(id) {
        remove('{{baseurl}}/api/adventure/' + id).then(() => location.reload())
    }
</script>
</html>
