<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>战役log</title>
</head>
<body>
    <h1>{{ adventure.name }}</h1> 

    <section class="update-adventure">
        <input value={{adventure.name}} />
        <br />
        <textarea>{{ adventure.announcement }}</textarea>
        <br />
        <button onclick="update({{adventure.id}})">update</button>
    </section>

    <section class="log">
        <Form action="javascript:void(0)" method="POST">
            <input type="file" id="file" name="logs" multiple />
            <input type="button" value="提交" onclick="submitFile()">
        </Form>
    </section>


    <div>
        {{#each logs}}
            <div>
                <a href="{{baseurl}}/hbs/log/{{this.id}}">{{this.name}}</a>
                <button onclick="deleteLog({{this.id}})">remove</button>
                <button onclick="changeOrder({{this.id}}, -1)">↑</button>
                <button onclick="changeOrder({{this.id}}, 1)">↓</button>
                <br />
                <input id="log-id-{{id}}-name" />
                <button onclick="updateName({{id}})">update name</button>
            </div>
        {{/each}}
    </div>
    {{> script }}
    <script>
        function deleteLog(id) {
            remove('{{baseurl}}/api/log/' + id).then(function() {
                location.reload();
            });
        }
        function updateName(id) {
            var name = document.querySelector('#log-id-' + id + '-name').value
            patch('{{baseurl}}/api/log/' + id, {name}).then(() => location.reload())
        }
        function changeOrder(logId, step) {
            let adventureId = {{adventure.id}}
            post('{{baseurl}}/api/adventure/changeOrder', { adventureId, logId, step }).then(function() {
                location.reload();
            })
        }
        function update(id) {
            var name = document.querySelector('.update-adventure input').value
            var announcement = document.querySelector('.update-adventure textarea').value

            patch('/api/adventure/' + id, {name, announcement}).then(() => location.reload())
        }
        function submitFile() {
            let formData = new FormData();
            Array
                .from(document.querySelector('#file').files)
                .forEach(file => {
                    var blob = file.slice(0, file.size); 
                    newFile = new File([blob], encodeURI(file.name));
                    formData.append("logs", newFile)
                });

            fetch('{{baseurl}}/api/log/{{adventure.id}}', {
                method: "POST", 
                body: formData
            }).then(res => {
                console.log(res, res.ok)
                if (res.ok) {
                    location.reload()
                }
            }).catch(e => {
                console.error(e)
                alert('出错了')
            }); 
        }
    </script>
</body>
</html>
